# Core dependencies
pandas
numpy<2
matplotlib
seaborn
plotly
scikit-learn
python-dotenv # For environment variables
pyarrow

# LLM integration
openai>=1.0.0

# Core LLM orchestration
langchain
langchain-openai
langchain-pinecone

# Vector store and sentence embeddings
pinecone-client
sentence-transformers
torch

# Data processing
python-docx  # For Word documents
python-pptx  # For PowerPoint files
beautifulsoup4  # For HTML parsing (e.g., intranet)
PyPDF2  # For PDF files
fpdf2
unstructured[pdf] # For document processing


# Frontend
streamlit
streamlit-agraph  # For network visualizations
streamlit-timeline  # For timeline visualizations

# Testing
pytest